# Environments
venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/
.DS_Store

# Project Specific
downloads/
node_modules/
temp/
movie_vault.db
movie_vault.db-shm
movie_vault.db-wal
movie_vaultab.db
.write_test
tailwindcss-macos-*
*.log
